<div id="airport-statistics">
  <div class="card mb-2">
    <div class="card-header">
      <i class="fas fa-plane-departure"></i> Airport Statistics
    </div>
  </div>

  <% unless defined?(snapshot_layout) %>
    <%= render partial: 'airports/statistics/progress' %>
  <% end %>

  <%= render partial: 'airports/statistics/statistics_boxes' %>
  <%= render partial: 'airports/landing_rights/landing_rights', locals: {read_only: defined?(snapshot_layout)} %>
</div>
