<div class="card mb-2">
  <div class="card-header">
    <i class="fas fa-plane-departure"></i> Airport Statistics
  </div>
</div>

<%= render partial: 'airports/statistics/statistics_boxes' %>
<%= render partial: 'airports/landing_rights/landing_rights', locals: {show_edit_form: true} %>
