<div id="airport-drawer" class="drawer bg-body">
  <div class="overflow-auto h-100">
    <div id="drawer-loading" class="flex-row justify-content-center align-items-center h-100">
      <div class="spinner-border"></div>
    </div>

    <div id="drawer-content" class="container-fluid">
      <div id="drawer-show-airport" class="drawer-content"></div>
      <div id="drawer-about" class="drawer-content"><%= render 'map/drawer/about' %></div>
      <div id="drawer-login" class="drawer-content"><%= render 'map/drawer/login' %></div>
      <div id="drawer-new-airport" class="drawer-content"></div>
      <div id="drawer-origin" class="drawer-content"><%= render 'map/drawer/origin' %></div>
    </div>
  </div>

  <div class="handle d-none">
    <button type="button" class="btn bg-body text-body p-0"><i class="fas fa-chevron-right"></i></button>
  </div>
</div>
