<ul id="login-tabs" class="nav nav-tabs nav-fill mt-4">
  <li class="nav-item">
    <a id="login-tab" class="nav-link active" href="#" data-target="login-form"><i class="fa-solid fa-right-from-bracket me-1"></i>Log In</a>
  </li>

  <li class="nav-item">
    <a id="registration-tab" class="nav-link" href="#" data-target="registration-form"><i class="fa-solid fa-circle-plus me-1"></i>Register</a>
  </li>
</ul>

<%= render 'devise/sessions/new', parent: :map %>
<%= render 'devise/registrations/new', parent: :map %>
