@import 'variables';

$header-height: calc(1.5em + 0.75rem + 2px);

.header {
  background-clip: padding-box;
  background-color: $white;
  border-radius: 0.25rem;
  border: 1px solid #ced4da;
  color: #495057;
  height: $header-height;
  left: -325px;
  line-height: $header-height;
  position: absolute;
  top: $maps-fixed-offset;
  z-index: $zindex-fixed;

  img {
    height: 45%;
  }
}
