@import 'animations';
@import 'variables';

.navigation {
  left: $maps-fixed-offset;
  position: fixed;
  top: $maps-fixed-offset;
  width: 340px;
  z-index: $zindex-fixed;

  > div {
    background-color: $white;
    border-radius: 6px;
  }

  .search {
    // .search-icon {
    //   font-size: 20px;
    //   margin-top: 4px;
    //   position: absolute;
    //   right: 10px;
    // }
  }

  .tags .card {
    height: 80px;
    overflow: hidden;

    .tag-filter:hover {
      cursor: pointer;
    }

    .icon {
      border-radius: 50%;
      color: $white;
      font-size: 24px;
      height: 50px;
      padding-top: 5px;
      width: 50px;
    }

    .label {
      font-size: 14px;
    }
  }
}
