# Ignore bundler config
/.bundle

# Ignore all logfiles and tempfiles
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
access_logs.html

# Ignore pidfiles, but keep the directory
/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep

# Ignore uploaded files in development
/storage/*
!/storage/.keep

/public/assets
.byebug_history

# Ignore keys for decrypting credentials
/config/*.key
/config/credentials/*.key

/public/packs
/public/packs-test
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity

# Maxmind databases
**/*.mmdb

# CSS builds
/app/assets/builds/*

# FAA products cache
.faa_cache/*

# Terraform
terraform.tfvars
*.tfstate
*.tfstate.backup
*.tfstate.*.backup
.terraform/
