<div id="events" class="card mb-2">
  <a href="#events"></a>

  <div class="card-header">
    <i class="fas fa-calendar-days"></i> Upcoming Events
  </div>

  <ul class="list-group list-group-flush">
    <% @airport.events.upcoming.each do |event| %>
      <li class="list-group-item"><%= render 'airports/events/event', event: event %></li>
    <% end %>
  </ul>
</div>

<div class="text-end mb-3">
  <% if @airport.events.upcoming.empty? %>
    <small class="text-body-secondary me-2">No upcoming events. Is anything happening here soon?</small>
  <% end %>

  <button type="button" class="btn btn-outline-primary btn-sm" data-bs-toggle="collapse" data-bs-target="add-event-form">Add Event</a>
</div>

<% content_for :collapsible_content, flush: true do %>
  <%= render 'events/form' %>
<% end %>

<%= render 'shared/collapsible', id: 'add-event-form', classes: 'mb-3' %>
