<div id="events" class="card my-2">
  <% if @airport.events.upcoming.any? %>
    <div class="card-header">
      <i class="fas fa-calendar-days"></i> Upcoming Events
    </div>
  <% else %>
    <div class="card-header d-flex justify-content-between">
      <div>
        <i class="fas fa-calendar-days"></i> Upcoming Events &mdash; None
        <br><span class="text-body-secondary">Is anything happening here soon?</span>
      </div>

      <button type="button" class="btn btn-outline-primary btn-sm my-2" data-bs-toggle="collapse" data-bs-target="add-event-form">Add Event</a>
    </div>
  <% end %>

  <ul class="list-group list-group-flush">
    <% @airport.events.upcoming.each do |event| %>
      <li class="list-group-item"><%= render 'airports/events/event', event: event %></li>
    <% end %>
  </ul>
</div>

<% if @airport.events.upcoming.any? %>
  <div class="text-end">
    <button type="button" class="btn btn-outline-primary btn-sm my-2" data-bs-toggle="collapse" data-bs-target="add-event-form">Add Event</a>
  </div>
<% end %>

<% content_for :collapsible_content, flush: true do %>
  <%= render 'events/form' %>
<% end %>

<%= render 'shared/collapsible', id: 'add-event-form', classes: 'mb-2' %>
