<div class="text-center">
  <%= link_to image_tag('logo.png', class: 'w-50 mb-3 logo'), root_path %>
  <%= link_to image_tag('logo_dark.png', class: 'w-50 mb-3 logo logo-dark'), root_path %>
  <h4><%= text %></h4>
</div>
