@import 'variables';

$animation-duration: 1s;
$drawer-translate-length: calc(100% - (#{$drawer-width} + #{$handle-size} / 2));

#controls {
  height: 100vh;
  height: 100dvh;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  white-space: nowrap;
  width: 100vw;
  z-index: $zindex-fixed;

  // Put the drawer off screen to the left after the controls div
  > div {
    display: inline-block;
  }

  #grid {
    height: 100%;
    vertical-align: top;
    width: 100%;

    @include media-breakpoint-up(lg) {
      // The drawer slides in by shrinking the width of the grid container
      &.slide-in-drawer {
        animation: slide-in-drawer-xlarge $animation-duration forwards;
      }

      // Provide an option to show the drawer immediately (useful for default drawer opens on page load)
      &.slide-in-drawer-instant {
        animation: slide-in-drawer-xlarge 0s forwards;
      }

      &.slide-out-drawer {
        animation: slide-out-drawer-xlarge $animation-duration forwards;
      }
    }

    > div:first-child {
      display: grid;
      grid-template-areas:
        'header header header'
        'filters flashes .'
        'filters action-buttons action-buttons';
      grid-template-columns: 1fr auto 1fr;
      grid-template-rows: auto 1fr;
      height: 100vh;
      height: 100dvh;
      width: 100%;

      @include media-breakpoint-down(md) {
        grid-template-areas:
          'header'
          'flashes'
          'footer';
        grid-template-columns: auto;
      }

      > div * {
        pointer-events: auto;
        white-space: normal;
      }

      .map-header {
        grid-area: header;
      }

      .filters {
        grid-area: filters;

        @include media-breakpoint-down(md) {
          grid-area: footer;
        }
      }

      .flashes {
        grid-area: flashes;
      }

      .action-buttons {
        align-items: flex-end;
        display: flex;
        grid-area: action-buttons;
        justify-content: flex-end;

        @include media-breakpoint-down(md) {
          grid-area: footer;
        }
      }
    }
  }
}

@keyframes slide-in-drawer-xlarge {
  from { width: 100%; }
  to { width: $drawer-translate-length; }
}

@keyframes slide-out-drawer-xlarge {
  from { width: $drawer-translate-length; }
  to { width: 100%; }
}
