#hamburger-menu {
  padding: 0 $map-fixed-offset;
  position: absolute;
  width: 100%;
  z-index: $zindex-fixed + 2; // +2 so that the menu shows on top of the action buttons on small screens

  ul {
    width: 100%;

    @include media-breakpoint-up(sm) {
      width: 50%;
    }

    @include media-breakpoint-up(md) {
      width: 33%;
    }

    @include media-breakpoint-up(xl) {
      width: 25%;
    }

    li.selectable:hover {
      background-color: $primary;
      border-color: $primary;
      cursor: pointer;

      a { // stylelint-disable selector-max-type
        color: $white;
      }
    }

    a {
      display: inline-block;
      width: 100%;
    }

    img {
      height: 1rem;
      max-width: 100%;
    }
  }
}
