#map {
  height: 100vh;
  height: 100dvh;
  width: 100vw;

  // When adding a new airport use a crosshair cursor
  &.adding canvas:hover {
    cursor: crosshair;
  }
}

// Refloat the map attribution so it's horizontal and aligned to the bottom of the page
.mapboxgl-ctrl-bottom-left {
  display: flex;

  .mapboxgl-ctrl-attrib {
    margin-top: auto;
  }

  .mapboxgl-ctrl:not(.mapboxgl-ctrl-attrib) {
    margin-bottom: 3px;
  }
}
