.search {
  margin-left: $map-fixed-offset;
  margin-top: $map-fixed-offset;
  width: 340px;
  z-index: $zindex-fixed + 1; // +1 so that the search results display on top of the filters

  @include media-breakpoint-down(md) {
    width: 100%;
  }
}

// Overflow for placeholder text
#search:placeholder-shown {
  text-overflow: ellipsis;
}

.search-options {
  margin-left: 10px;
  width: 320px;

  @include media-breakpoint-down(md) {
    margin-left: 5%;
    width: 90%;
  }
}

#search-results-parent {
  position: relative;

  #search-results {
    display: none;
    position: absolute;
    width: 100%;

    li.active {
      cursor: pointer;
    }
  }
}
