@import 'variables';

#search {
  margin-left: $map-fixed-offset;
  margin-top: $map-fixed-offset;
  width: 340px;
  z-index: $zindex-fixed + 1; // +1 so that the search results display on top of the filters
}

#search-results-parent {
  position: relative;

  #search-results {
    display: none;
    padding-left: $map-fixed-offset;
    position: absolute;
    width: 100%;

    li.selected {
      background-color: $primary;
      color: $white;
      cursor: pointer;
    }
  }
}
