<div id="airport-drawer" class="drawer">
  <%= render 'maps/header' %>

  <div class="action-buttons">
    <div id="new-airport-button" class="d-flex justify-content-center align-items-center mb-2 theme-green">
      <i class="fas fa-plus"></i>
    </div>

    <div id="layer-switcher" class="d-flex justify-content-center align-items-center theme-blue">
      <i class="satellite-icon fas fa-satellite"></i>
      <i class="map-icon fas fa-map d-none"></i>
    </div>
  </div>

  <div class="overflow-auto h-100">
    <div id="drawer-loading" class="flex-row justify-content-center align-items-center h-100">
      <div class="spinner-border"></div>
    </div>

    <div id="airport-info" class="container"></div>
  </div>

  <div class="handle">
    <button type="button" class="btn"><i class="fas fa-chevron-right"></i></button>
  </div>
</div>
