<div id="airport-drawer" class="drawer">
  <div class="handle">
    <button type="button" class="btn"><i class="fas fa-chevron-right"></i></button>
  </div>

  <div class="content my-3">
    <div id="drawer-loading" class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>

    <div id="airport-info" class="container"></div>
  </div>
</div>
