<div class="header">
  <span class="px-2"><%= image_tag 'logo.png' %></span> |
  <span class="px-2">About <i class="fas fa-question-circle"></i></span> |
  <span class="px-2">Sign In <i class="fas fa-sign-in-alt"></i></span>
</div>
