<div class="navigation">
  <div class="search">
    <input id="search" class="form-control" type="text" autofocus placeholder="Search airports" data-search-endpoint="<%= search_airports_path %>">

    <div class="search-results-parent">
      <ul id="search-results" class="list-group"></ul>
    </div>
  </div>

  <div class="filters mt-2">
    <%= render partial: 'maps/filter_group', locals: {filter_group: :tags, filters: Tag::TAGS} %>
    <%= render partial: 'maps/filter_group', locals: {filter_group: :facility_types, filters: Airport::facility_types} %>
  </div>
</div>
