.collapsible {
  max-height: 0;
  overflow: hidden;
  transition: max-height .5s cubic-bezier(0, 1, 0, 1);

  &.show {
    max-height: 99em;
    transition: max-height 1s ease-in-out;
  }

  > .content {
    background-color: #eee;
    padding: 10px;
  }

  .notch {
    text-align: center;
    width: 100%;

    > div {
      background-color: $border-color-translucent;
      clip-path: polygon(0% 12px, 12px 0%, calc(100% - 12px) 0%, 100% 12px);
      height: 12px;
      margin: 0 auto;
      width: 25px;
    }
  }
}

@include color-mode(dark) {
  .collapsible {
    > .content {
      background-color: $body-secondary-bg-dark;
    }

    .notch > div {
      background-color: $dark-border-subtle-dark;
    }
  }
}

// Create classes that will only collapse the collapisble below a given breakpoint
@each $breakpoint, $width in $grid-breakpoints {
  .collapsible-#{$breakpoint} {
    @media (min-width: $width) {
      max-height: inherit;
    }
  }
}
