.carousel {
  img {
    display: none;
    height: 300px;
    object-fit: cover;
    width: 100%;

    &.large {
      height: 350px;
    }
  }

  .featured {
    z-index: $zindex-fixed;
  }

  .carousel-control-prev,
  .carousel-control-next {
    transition: 1s;
  }

  .carousel-control-prev:hover {
    background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .75) 100%);
  }

  .carousel-control-next:hover {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .75) 100%);
  }

  // Override dark mode
  .carousel-control-prev-icon,
  .carousel-control-next-icon, {
    filter: none !important; // stylelint-disable-line declaration-no-important
  }
}
