.EasyMDEContainer { // stylelint-disable-line selector-class-pattern
  .editor-toolbar {
    display: none;
    padding: $spacer * .25;

    .editor-save {
      float: right;
    }
  }

  &.editing .editor-toolbar {
    display: block;
  }

  // stylelint-disable selector-class-pattern
  .CodeMirror {
    .CodeMirror-lines,
    .CodeMirror-line {
      padding: 0;
    }
  }
  // stylelint-enable selector-class-pattern

  blockquote {
    border-left: 3px solid $primary;
    padding-left: $spacer * .25;
  }

  table {
    margin-bottom: $spacer * .5;
  }
}

@include color-mode(dark) {
  // stylelint-disable selector-class-pattern
  .EasyMDEContainer {
    .CodeMirror {
      background-color: $body-bg-dark;
      color: $body-color-dark;
    }

    .editor-preview-full {
      background-color: $body-bg-dark;
      color: $body-color-dark;
    }

    .easymde-dropdown {
      background: linear-gradient(to bottom right, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 84%, $light 50%, $light 100%);
      border: none;
    }

    .easymde-dropdown-content {
      background-color: $body-bg-dark;
      border: $light-border-subtle-dark 1px solid;
    }

    .editor-toolbar button:hover {
      background-color: $body-bg-dark;
      border-color: $light-border-subtle-dark;
    }
  }
  // stylelint-enable selector-class-pattern
}
