<div class="col-6 col-md-3">
  <div class="border rounded p-2 h-100 d-flex flex-column justify-content-center text-center">
    <div>
      <h3><%= number_with_delimiter value %></h3>
      <h6><%= label %></h6>
    </div>
  </div>
</div>
