<div class="row">
  <div class="col-12 col-md-3">
    <div class="card mt-3">
      <div class="card-body text-center">
        <h3><%= number_with_delimiter PaperTrail::Version.where('created_at > ?', 1.day.ago).count %></h3>
        <h6>Edits Today</h6>
      </div>
    </div>
  </div>

  <div class="col-12 col-md-3">
    <div class="card mt-3">
      <div class="card-body text-center">
        <h3><%= number_with_delimiter Users::User.where('last_seen_at > ?', 1.day.ago).count %></h3>
        <h6>Active Users Today</h6>
      </div>
    </div>
  </div>
</div>

Most Active Users - This week / All time
Most Active Airports - This week / All time
