<div id="<%= id %>" class="collapsible <%= defined?(classes) ? classes : '' %>">
  <div class="notch">
    <div></div>
  </div>

  <div class="content card">
    <%= yield :collapsible_content %>
  </div>
</div>
