<p><%= image_tag 'creative_commons_badge.png', class: 'creative-commons-badge img-fluid me-1' %><strong>Copyright notice:</strong> All user contributed content to Pirep is performed under a <a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank">CC BY-SA 4.0</a> license.</p>
