<% return unless webcam.embedded? %>

<div class="position-relative text-center mb-2">
  <%= button_to '<i class="fa-solid fa-trash text-danger"></i>'.html_safe, webcam_path(webcam),
    method: :delete,
    class: 'delete-overlay position-absolute end-0 btn btn-sm btn-light',
    data: {confirm: 'Are you sure you want to remove this webcam?'} %>

  <% if webcam.image? %>
    <img class="webcam-image img-thumbnail" src="<%= webcam.url %>">
  <% elsif webcam.frame? %>
    <iframe class="webcam-frame img-thumbnail" src="<%= webcam.url %>"></iframe>
  <% end %>
</div>
