<% return unless webcam.embedded? %>

<div class="text-center mb-2">
  <% if webcam.image? %>
    <img class="webcam-image img-thumbnail" src="<%= webcam.url %>">
  <% elsif webcam.frame? %>
    <iframe class="webcam-frame img-thumbnail" src="<%= webcam.url %>"></iframe>
  <% end %>
</div>
