<%
  queue_limit = 10
  versions = PaperTrail::Version.where(reviewed_at: nil, item_type: [Airport.name, Tag.name]).where.not(whodunnit: nil).where.not(object_changes: nil).order(created_at: :desc)
%>

<div class="card mt-3">
  <div class="card-header d-flex justify-content-between">
    <span>Airport Revisions Review Queue</span>
    <span><span class="badge bg-primary rounded-pill"><%= number_with_delimiter versions.count %></span></span>
  </div>

  <div class="list-group list-group-flush">
    <% if versions.any? %>
      <% versions.limit(queue_limit).each do |version| %>
        <% next unless version.object_changes %>
        <%= render 'manage/dashboard/review_queues/airport_edit_row', version: version %>
      <% end %>

      <%= render 'manage/dashboard/review_queues/oversize_queue', records: versions, queue_limit: queue_limit %>
    <% else %>
      <%= render 'manage/dashboard/review_queues/empty_queue' %>
    <% end %>
  </div>
</div>
