<% if @airport.diagram %>
  <div class="airport-diagram mt-3">
    <img class="img-thumbnail" src="<%= Rails.env.test? ? image_path('logo.png') : faa_data_content_url(:diagrams, filename: @airport.diagram) %>">
  </div>
<% end %>
