<% if @airport.diagram %>
  <div class="airport-diagram mt-3">
    <img class="img-thumbnail" src="<%= Rails.env.test? ? image_path('logo.png') : "#{Rails.configuration.asset_host}/assets/diagrams/#{@airport.diagram}" %>">
  </div>
<% end %>
