<div class="alert alert-primary m-0">
  Are you familiar with this airport? Help out other pilots by adding your local knowledge to it <% if defined?(show_link) %>on its <%= link_to 'airport page', airport_path(@airport.code) %><% end %>!
</div>
