<% if @airport.locked_at %>
  <div class="alert alert-warning mb-3">
    <i class="fa-solid fa-lock me-1"></i>This airport is temporarily locked. Edits may not be made while locked.
  </div>
<% end %>

<% if @airport.closed? %>
  <div class="alert alert-danger mb-3">
    <i class="fa-solid fa-skull-crossbones me-1"></i>Sadly, this airport is reportedly closed<% unless @airport.unmapped? %> based on it being removed from the FAA's database<% end %>.
  </div>
<% else %>
  <% if @airport.unmapped? %>
    <div class="alert alert-danger mb-3">
      <i class="fa-solid fa-triangle-exclamation me-1"></i>Warning: This airport is not mapped in the FAA's database. There is no guarantee regarding the accuracy of the information on this page. <strong>You</strong> are ultimately responsible for confirming conditions before attempting to land here.
    </div>
  <% end %>

  <% if @airport.empty? && defined?(show_empty_notice) %>
    <div class="alert alert-primary mb-3">
      <i class="fa-solid fa-pencil me-1"></i>Are you familiar with this airport? Help out other pilots by adding your local knowledge on its <%= link_to 'airport page', airport_path(@airport.code) %>.
    </div>
  <% end %>
<% end %>
