<div id="origin-info-notice" class="row d-none">
  <div class="col-12">
    <div class="alert alert-primary mb-3">
      <i class="far fa-question-circle me-1"></i><%= t :site_description %>
    </div>
  </div>
</div>
