<% show_limit = 5 %>

Remarks

<% if @airport.remarks.any? %>
  <ul>
    <% @airport.remarks.order(:created_at).limit(show_limit).each do |remark| %>
      <li><%= remark.text.downcase.capitalize %></li>
    <% end %>
  </ul>

  <% if @airport.remarks.count > show_limit %>
    <a href="javascript:void(0)" data-toggle="collapse" data-target="remaining-remarks">Show More</a>

    <div id="remaining-remarks" class="collapsible">
      <ul>
        <% @airport.remarks.order(:created_at).offset(show_limit).each do |remark| %>
          <li><%= remark.text.downcase.capitalize %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% end %>
