<% show_limit = 5 %>

<% if @airport.remarks.any? %>
  <div class="card my-3">
    <div class="card-header">
      <i class="fas fa-file-alt"></i> Remarks
    </div>

    <ul class="list-group list-group-flush">
      <% @airport.remarks.order(:created_at).limit(show_limit).each do |remark| %>
        <li class="remark list-group-item"><%= remark.to_human_readable %></li>
      <% end %>

      <% @airport.remarks.order(:created_at).offset(show_limit).each do |remark| %>
        <li class="remark list-group-item extra-remark hidden"><%= remark.to_human_readable %></li>
      <% end %>
    </ul>
  </div>

  <% if @airport.remarks.count > show_limit %>
    <div class="text-right">
      <button id="show-extra-remarks" class="btn btn-outline-primary btn-sm">Show More</a>
    </button>
  <% end %>
<% end %>
