<a href="javascript:void(0)" data-toggle="collapse" data-target="upload-photo-form">Add Photo</a>

<div id="upload-photo-form" class="collapsible">
  <%= form_with model: @airport, local: true do |form| %>
    Uploaded photos will be licensed under CC-something. Please only upload photos you have the rights to use.
    <%= form.file_field :photos, multiple: true %>
    <%= form.submit %>
  <% end %>
</div>
