<ul class="list-group my-3">
  <% actions.each do |action| %>
    <li class="list-group-item">
      <%
        link = action_link(action)
        next unless link
      %>

      <i class="<%= link[:icon] %>"></i> <%= link[:label] %>
      <br>
      <small class="text-body-secondary">
        <%= format_timestamp action.created_at %>
        <% if link[:points] %>| +<%= number_with_delimiter(link[:points], delimiter: ',') %>ft<% end %>
      </small>
    </li>
  <% end %>
</ul>
