.airport-diagram {
  position: relative;
  width: 100%;

  .annotations {
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    user-select: none;
    width: 100%;

    .annotation {
      // Allow click events to fall through here so we can click behind the annotation element
      pointer-events: none;
      position: absolute;
      touch-action: none;

      .annotation-header {
        height: 30px;
        pointer-events: auto;
        width: 200px;

        // Bootstrap puts buttons in an input group in z-index 2 so we need to set
        // it for the whole the input group to avoid overlapping elements from
        // overlapping some parts of the input group and not others
        .input-group {
          z-index: 2;
        }

        .label {
          background: rgba(0, 0, 0, .5);
          text-overflow: ellipsis;
        }
      }

      .icon {
        color: #ff5722;
        font-size: 2.5rem;
        pointer-events: auto;
        text-shadow: 3px 3px 2px #000;
      }

      // Don't display the label when the annotation is in editing mode
      // and vice versa for the input group
      &.editing {
        .label {
          display: none;
        }
      }

      &:not(.editing) {
        .input-group {
          display: none;
        }
      }
    }

    // When the annotations container is in edit mode allow annotations to
    // have visible overflow so the input groups are editable without being cut off
    // and so users can position the annotation accurately
    &.editing {
      overflow: visible;

      &:hover {
        cursor: pointer;
      }

      // When anything is hovered or moving so a grab cursor
      > :hover {
        cursor: grab;
      }

      > :active {
        cursor: grabbing;
      }

      // Override the grab icon above for the annotation label which toggles the input group when clicked
      .annotation {
        .label:hover {
          cursor: pointer;
        }

        .icon {
          animation: jiggle .15s infinite alternate;
        }
      }
    }

    > .help {
      background: rgba(0, 0, 0, .5);

      &:hover {
        cursor: auto;
      }
    }
  }
}

@keyframes jiggle {
  from { transform: rotate(-4deg); }
  to { transform: rotate(4deg); }
}
