.landing-rights {
  .icon {
    border-radius: calc(.25rem - 1px) 0 0 calc(.25rem - 1px);
    color: $white;
    font-size: 24px;
    max-width: 40px;
    min-width: 40px;
  }

  .label {
    background-color: rgba(0, 0, 0, .03);
    border: 1px solid rgba(0, 0, 0, .125);
    border-left: none;
    border-radius: 0 calc(.25rem - 1px) calc(.25rem - 1px) 0;
  }
}
