@import 'variables';

.airport-subheader > .container {
  row-gap: $spacer;

  div:first-child,
  div:last-child {
    flex-basis: 0;
    flex-grow: 1;
    white-space: nowrap;
  }

  div:last-child {
    text-align: right;
  }
}

.editor-edit-icon:hover {
  cursor: pointer;
}

.EasyMDEContainer { // stylelint-disable-line selector-class-pattern
  .editor-toolbar {
    display: none;
  }

  &.editing .editor-toolbar {
    display: block;
  }
}

.remark {
  &.extra-remark.hidden {
    display: none;
  }

  &.list-group-item:hover {
    background-color: $light-grey;
  }
}

.comment {
  .comment-actions {
    float: right;

    form {
      display: inline-block;
    }
  }
}

.comment-textarea {
  height: 150px !important; // stylelint-disable-line declaration-no-important
}

.status-indicator {
  &.show {
    opacity: 1;
    transition: opacity .25s, visibility .25s;
    visibility: visible;
  }

  &.hide {
    opacity: 0;
    transition: opacity 1s, visibility 1s;
    visibility: hidden;
  }
}
