.airport-header-cover-image {
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 200px;

  @include media-breakpoint-up(md) {
    background-size: contain;
  }

  .airport-header {
    flex-grow: 1;
  }

  .airport-subheader {
    background-color: rgba(0, 0, 0, .5);
    color: $white;
  }

  &.cover-image-beach { background-image: url('beach.jpg'); }
  &.cover-image-city { background-image: url('city.jpg'); }
  &.cover-image-desert { background-image: url('desert.jpg'); }
  &.cover-image-forest { background-image: url('forest.jpg'); }
  &.cover-image-mountains { background-image: url('mountains.jpg'); }
  &.cover-image-town { background-image: url('town.jpg'); }
}

.airport-subheader > .container-lg {
  row-gap: $spacer;

  > div:first-child,
  > div:last-child {
    flex-basis: 0;
    flex-grow: 1;
    white-space: nowrap;
  }
}

.cover-image-dropdown {
  .dropdown-menu li:hover {
    cursor: pointer;
  }
}

.editor-edit-icon:hover {
  cursor: pointer;
}

#event_description { // stylelint-disable-line selector-id-pattern
  min-height: 8rem;
}

.EasyMDEContainer { // stylelint-disable-line selector-class-pattern
  .editor-toolbar {
    display: none;
  }

  &.editing .editor-toolbar {
    display: block;
  }
}

.webcam-frame {
  height: 350px;
  width: 100%;
}

.remark {
  &.extra-remark.hidden {
    display: none;
  }

  &.list-group-item:hover {
    background-color: $light-grey;
  }
}

.comment {
  .comment-actions {
    float: right;

    form {
      display: inline-block;
    }
  }
}

.comment-textarea {
  height: 150px !important; // stylelint-disable-line declaration-no-important
}

.status-indicator {
  &.show {
    opacity: 1;
    transition: opacity .25s, visibility .25s;
    visibility: visible;
  }

  &.hide {
    opacity: 0;
    transition: opacity 1s, visibility 1s;
    visibility: hidden;
  }
}
