@import 'variables';

.airport-header {
  max-width: 100%;
}

.editor-edit-icon:hover {
  cursor: pointer;
}

.EasyMDEContainer {
  .editor-toolbar {
    display: none;
  }

  &.editing .editor-toolbar {
    display: block;
  }
}

.airport-diagram {
  width: 100%;
}

.remark {
  &.extra-remark.hidden {
    display: none;
  }

  &.list-group-item:hover {
    background-color: $light-grey;
  }
}

.comment {
  .comment-body {
    border-left: 3px solid $primary;
  }

  .comment-actions {
    float: right;

    form {
      display: inline-block;
    }
  }

  .helpful-count.hidden {
    display: none;
  }
}

.comment-textarea {
  height: 150px !important;
}
