.tag-square {
  border-radius: 5px;
  color: $white;
  height: 90px;
  width: 90px;

  &.small {
    font-size: .75rem;
    height: 75px;
    width: 75px;
  }

  .card-body {
    padding-left: 0;
    padding-right: 0;
    position: relative;

    .delete {
      background-color: $white;
      border: 2px solid $black;
      border-radius: 50%;
      color: $black;
      display: none;
      height: 26px;
      left: -12px;
      padding: 5px;
      position: absolute;
      top: -10px;
      width: 26px;

      > * {
        left: 5px;
        position: absolute;
        top: 3px;
      }
    }
  }

  &.add {
    border: $dark dashed 3px;
    color: $dark;
    transition: .3s;

    &:hover {
      background-color: $light-grey;
      cursor: pointer;
    }
  }

  &.editing {
    transition: .3s;

    &:hover {
      cursor: pointer;
    }
  }

  &[data-scroll-target]:hover {
    cursor: pointer;
  }

  .icon {
    font-size: 1.5rem;
  }
}

@include color-mode(dark) {
  .tag-square.add {
    border: $light dashed 3px;
    color: $light;

    &:hover {
      background-color: $dark-bg-subtle-dark;
    }
  }
}
