@import 'variables';

.tag-square {
  border-radius: 5px;
  color: $white;
  display: inline-block;
  height: 90px;
  width: 90px;

  .card-body {
    padding-left: 0;
    padding-right: 0;
    position: relative;

    .delete {
      background-color: $white;
      border-radius: 50%;
      border: 2px solid $black;
      color: $black;
      display: none;
      height: 26px;
      left: -8px;
      padding: 5px;
      position: absolute;
      top: -8px;
      width: 26px;

      > * {
        left: 6px;
        position: absolute;
        top: 3px;
      }
    }
  }

  &.add {
    border: #343a40 dashed 3px;
    transition: 0.3s;

    &:hover {
      background-color: $light-grey;
      cursor: pointer;
    }
  }

  &.editing {
    transition: 0.3s;

    &:hover {
      cursor: pointer;
    }
  }

  .icon {
    font-size: 24px;
  }

  .label {
    font-size: 14px;
  }
}
