<button type="button" class="filter-header bg-transparent w-100 border-0 py-3 d-flex justify-content-between" data-bs-toggle="collapse" data-bs-target="<%= target %>">
  <div class="d-flex align-items-center"><span class="badge text-bg-secondary bg-secondary me-2">0</span><%= title %></div>
  <div class="me-1"><i class="arrow fa-solid fa-chevron-down"></i></div>
</button>
