$animation-duration: 1s;

@keyframes slideIn {
  from {
    transform: translateX(100vw);
  }

  to {
    transform: translateX(0%);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(100vw);
  }
}