$animation-duration: 1s;

@keyframes slide-in {
  from {
    transform: translateX(100vw);
  }

  to {
    transform: translateX(0%);
  }
}

@keyframes slide-out {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(100vw);
  }
}
