// Load variables first to ensure customizations to Bootstrap and other third party frameworks are picked up
@import 'variables';

// These paths for vendor stylesheets are relative to vendor/ (which are then symlinks to node_modules/)
@import 'bootstrap/bootstrap';
@import 'fontawesome/fontawesome';
@import 'fontawesome/solid';
@import 'fontawesome/regular';
@import 'mapbox-gl';
@import 'easymde';

@import 'themes';

@import 'airports/history';
@import 'airports/landing_rights';
@import 'airports/map';
@import 'airports/show';
@import 'airports/statistics';
@import 'airports/tags';

@import 'devise/registrations';

@import 'manage/airports';
@import 'manage/dashboard';

@import 'map/about';
@import 'map/action_buttons';
@import 'map/controls';
@import 'map/drawer';
@import 'map/filters';
@import 'map/flashes';
@import 'map/hamburger';
@import 'map/header';
@import 'map/map';
@import 'map/search';

@import 'shared/annotations';
@import 'shared/breakpoints';
@import 'shared/collapsible';
@import 'shared/navbar';
@import 'shared/photo_gallery';
