@import 'animations';
@import 'variables';

#map {
  height: 100vh;
  width: 100vw;
}

.navigation {
  left: 0;
  margin: 10px 0 0 10px;
  position: fixed;
  top: 0;
  width: 340px;
  z-index: $zindex-fixed;

  > div {
    background-color: $white;
    border-radius: 6px;
  }

  .search {
    // .search-icon {
    //   font-size: 20px;
    //   margin-top: 4px;
    //   position: absolute;
    //   right: 10px;
    // }
  }

  .tags .card {
    height: 80px;
    overflow: hidden;

    .tag-filter:hover {
      cursor: pointer;
    }

    .icon {
      border-radius: 50%;
      color: $white;
      font-size: 24px;
      height: 50px;
      padding-top: 5px;
      width: 50px;
    }

    .label {
      font-size: 14px;
    }
  }
}

.drawer {
  background: $white;
  box-shadow: -3px 1px 4px 0 gray;
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  transform: translateX(100vw);
  width: 500px;
  z-index: $zindex-fixed;

  &.slideIn {
    animation: slideIn $animation-duration forwards;
  }

  &.slideOut {
    animation: slideOut $animation-duration forwards;
  }

  .handle {
    background-color: $primary;
    border-radius: 5px 0 0 5px;
    // box-shadow: 0px 4px 3px gray, -4px 4px 3px gray, 0px -4px 3px gray;
    height: 50px;
    left: -30px;
    line-height: 50px;
    padding-right: 5px;
    position: absolute;
    top: 50px;
    width: 30px;

    button {
      color: $white;
      height: 100%;
      padding: 0;
      padding-left: 7px;
      font-size: 24px;
      width: 100%;
    }
  }
}
