// Material UI design colors taken from https://www.materialui.co/colors

$themes: (
  'red':         ('primary': #ef5350, 'dark': #e53935, 'light': #ef9a9a),
  'pink':        ('primary': #ec407a, 'dark': #d81b60, 'light': #f48fb1),
  'purple':      ('primary': #ab47bc, 'dark': #8e24aa, 'light': #ce93d8),
  'deep-purple': ('primary': #7e57c2, 'dark': #5e35b1, 'light': #b39ddb),
  'indigo':      ('primary': #5c6bc0, 'dark': #3949ab, 'light': #9fa8da),
  'blue':        ('primary': #42a5f5, 'dark': #1e88e5, 'light': #90caf9),
  'light-blue':  ('primary': #29b6f6, 'dark': #039be5, 'light': #81d4fa),
  'cyan':        ('primary': #26c6da, 'dark': #00acc1, 'light': #80deea),
  'teal':        ('primary': #26a69a, 'dark': #00897b, 'light': #80cbc4),
  'green':       ('primary': #66bb6a, 'dark': #43a047, 'light': #a5d6a7),
  'light-green': ('primary': #9ccc65, 'dark': #7cb342, 'light': #c5e1a5),
  'lime':        ('primary': #d4e157, 'dark': #c0ca33, 'light': #e6ee9c),
  'yellow':      ('primary': #e6d750, 'dark': #e6c530, 'light': #e6d95f),
  'amber':       ('primary': #ffca28, 'dark': #ffb300, 'light': #ffe082),
  'orange':      ('primary': #ffa726, 'dark': #fb8c00, 'light': #ffcc80),
  'deep-orange': ('primary': #ff7043, 'dark': #f4511e, 'light': #ffab91),
  'brown':       ('primary': #8d6e63, 'dark': #6d4c41, 'light': #bcaaa4),
  'blue-grey':   ('primary': #78909c, 'dark': #546e7a, 'light': #b0bec5),
);

@each $name, $colors in $themes {
  // Airport show.drawer page
  .airport-drawer-header.theme-#{$name} {
    .row:first-child {
      background-color: map-get($colors, 'primary');
    }

    .row:last-child {
      background-color: map-get($colors, 'dark');
    }
  }

  // Airport show.html page
  .airport-header.theme-#{$name} {
    background-color: map-get($colors, 'primary');
  }

  .airport-subheader.theme-#{$name} {
    background-color: map-get($colors, 'dark');
  }

  .tag-square.theme-#{$name} {
    background-color: map-get($colors, 'primary');
    border: 2px solid map-get($colors, 'dark');

    &.editing {
      background-color: map-get($colors, 'primary');
      box-shadow: 0 0 5px 2px $black;

      &:hover {
        background-color: map-get($colors, 'dark');
      }

      &.unselected {
        background-color: map-get($colors, 'light');
        box-shadow: none;

        &:hover {
          background-color: map-get($colors, 'dark');
        }
      }
    }
  }

  .statistics-box.theme-#{$name} {
    background-color: map-get($colors, 'primary');
    border: 1px solid map-get($colors, 'dark');
  }

  .landing-rights .icon.theme-#{$name} {
    background-color: map-get($colors, 'primary');
    border: 2px solid map-get($colors, 'dark');
    border-right: none;
  }

  // Map filters
  .filter.theme-#{$name},
  .filter-group.theme-#{$name},
  .filter-label.theme-#{$name} {
    color: map-get($colors, 'primary');

    &.hover,
    &:hover {
      color: map-get($colors, 'dark');
    }

    &.disabled.hover,
    &.disabled:hover {
      color: map-get($colors, 'light') !important; // stylelint-disable-line declaration-no-important
    }
  }
}
