$drawer-width: min(33vw, 450px);
$filters-background: rgba(0, 0, 0, .75);
$handle-size: 25px;
$light-grey: #eee;
$map-fixed-offset: 10px;

// Tell FontAwesome to look under /fontawesome for its font files (relative to /vendor/assets/fonts)
$fa-font-path: 'fontawesome';

// Bootstrap customizations
$carousel-control-width: 20%;
$offcanvas-horizontal-width: 70vw;
