<div id="action-buttons" class="d-flex flex-column">
  <button id="filters-button" type="button" class="btn btn-light mb-2 d-md-none">
    <i class="fas fa-filter"></i>
  </button>

  <button id="map-pitch-button" type="button" class="btn btn-light mb-2" data-state="2d">
    3D
  </button>

  <button id="layer-switcher" type="button" class="btn btn-light mb-2">
    <i class="satellite-icon fas fa-satellite"></i>
    <i class="map-icon fas fa-map d-none"></i>
  </button>

  <button id="new-airport-button" type="button" class="btn btn-light">
    <i class="fas fa-plus"></i>
  </button>
</div>
