<div id="action-buttons" class="d-flex flex-column">
  <div id="filters-button-tooltip" class="d-md-none me-2 py-1 px-2"><small class="text-nowrap text-light">Filter airports<i class="fas fa-arrow-right ms-1"></i></small></div>

  <button id="filters-button" type="button" class="btn bg-body border mb-2 d-md-none">
    <i class="fas fa-filter"></i>
  </button>

  <button id="map-pitch-button" type="button" class="btn bg-body border mb-2" data-state="2d">
    3D
  </button>

  <button id="layer-switcher" type="button" class="btn bg-body border mb-2">
    <i class="satellite-icon fas fa-satellite"></i>
    <i class="map-icon fas fa-map d-none"></i>
  </button>

  <button id="new-airport-button" type="button" class="btn bg-body border">
    <i class="fas fa-plus"></i>
  </button>
</div>
