<div id="action-buttons">
  <div id="map-pitch-button" class="d-flex justify-content-center align-items-center mb-2 theme-purple" data-state="2d">
    3D
  </div>

  <div id="new-airport-button" class="d-flex justify-content-center align-items-center mb-2 theme-green">
    <i class="fas fa-plus"></i>
  </div>

  <div id="layer-switcher" class="d-flex justify-content-center align-items-center theme-blue">
    <i class="satellite-icon fas fa-satellite"></i>
    <i class="map-icon fas fa-map d-none"></i>
  </div>
</div>
