<div class="search">
  <input id="search" class="form-control" type="text" autofocus autocomplete="off" placeholder="Search airports" data-search-endpoint="<%= search_airports_path %>">

  <div class="search-results-parent">
    <ul id="search-results" class="list-group"></ul>
  </div>
</div>

<div id="filters" class="mt-2">
  <div id="filters-header" class="p-2 text-center">
    <a id="filters-scroll-up"><i class="fas fa-chevron-up"></i></a>
  </div>

  <nav class="d-flex flex-column text-center">
    <%= render 'map/filters/filter_group', filter_group: :facility_types, filters: Airport.facility_types, title: 'Filter by type' %>
    <a>&nbsp;</a>
    <%= render 'map/filters/filter_group', filter_group: :tags, filters: Tag::TAGS, title: 'Filter by tag' %>
  </nav>

  <div id="filters-footer" class="p-2 text-center">
    <a id="filters=scroll-down"><i class="fas fa-chevron-down"></i></a>
  </div>
</div>
