<% return unless defined? @breadcrumbs %>

<nav>
  <ol class="breadcrumb mb-1">
    <li class="breadcrumb-item"><small>
      <% if controller.class.name.start_with? 'Manage::' %>
        <%= link_to 'Manage', manage_root_path %>
      <% else %>
        <%= link_to 'Home', root_path %>
      <% end %>
    </small></li>

    <% @breadcrumbs.each_with_index do |breadcrumb, index| %>
      <% if index == @breadcrumbs.count - 1 %>
        <li class="breadcrumb-item active"><small class="text-muted"><%= breadcrumb.first %></small></li>
      <% else %>
        <li class="breadcrumb-item"><small class="text-muted"><%= breadcrumb.size == 2 ? link_to(breadcrumb.first, breadcrumb.second) : breadcrumb.first %></small></li>
      <% end %>
    <% end %>
  </ol>
</nav>
